<div class="flex heading">
    <h2>Customers:</h2>
    <p-button class="add-customer" label="Add Customer" (click)="navigateToAddCustomer()"></p-button>
</div>

<p-table [value]="customers" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5, 10, 20]"
    dataKey="identifier" editMode="row" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:20%">First Name</th>
            <th style="width:20%">Last Name</th>
            <th style="width:20%">Email</th>
            <th style="width:12%">Created On</th>
            <th style="width:13%">Modified On</th>
            <th style="width:15%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="customer">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="customer.firstName">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{customer.firstName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="customer.lastName" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{customer.lastName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="customer.email">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{customer.email}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        {{customer.createdOn | date}}
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{customer.createdOn | date}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        {{customer.modifiedOn | date}}
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{customer.modifiedOn | date}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(customer)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="!editing" pButton pRipple icon="pi pi-trash"
                        (click)="deleteCustomer(customer.identifier, ri)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(customer, ri)"
                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(customer, ri)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>